{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}

    <div>{{ product.id }}</div>
    <div>{{ product.name }}</div>
    <div>{{ product.price }}</div>

{% endblock %}